.App {
  text-align: center;
}

.register-form {
  margin: auto;
  display: grid;
  max-width: 800px;
  gap: 1rem;
  justify-items: center;
}

.register-form input {
  font-size: 1.5rem;
}

.form-error {
  color: red;
  height: 1.2rem;
}
